.hbt-btn-group {
    min-width: 95px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.btn:hover {
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
}

.bi {
    width: 32px;
    height: 32px;
}

.prevent-select {
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}
.home-btn {
    width: 100px;
    margin-right: 30px;
}

.lights-btn {
    width: 100px;
}

.joy {
    width: 128px;
    position: fixed;
    bottom: 20px;
}
.arm-btns {
    position: fixed;
    bottom: 0;
    right: 20px;
}