.hbt-btn-group {
    min-width: 95px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.btn:hover {
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
}

.bi {
    width: 32px;
    height: 32px;
}